.tombol {
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    color: black;
    background: #ff38ef;
    border-color: #ff38ef;
    transition: all 0.5s ease-in-out;
    margin-top: 10px;

}
.tombol :hover {
    background: transparent;
    border-color: #ff38ef;
    color: white;
}
